.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #999966;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.Jumbotron {
    background-color: #996633 ;
    padding:70px 30px 70px 30px;
    margin:0px auto;
    color:black;
    font-weight: bold;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #663300;
}

.page-enter
{
    opacity: 0.1;
    transform: translateX(-100%);
}

.page-enter-active
{
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit
{
    opacity: 1;
    transform: translateX(0%);
}
.page-exit-active
{
    opacity: 0.1;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}

.link
{
    color: #FFF;
}

.company-list
{
    width: 320px;
    height: 300px;
}

.comapany-img
{
    height: auto;
    max-height: 160px;
    width: auto;
    max-width: 350px;
}
.container2
{
    overflow: hidden;
}

.homePageLogo
{
    height: auto;
    max-height: 200px;
    width: auto;
    max-width: 250px;
}

.smhomePageLogo
{
    height: auto;
    max-height: 125px;
    width: auto;
    max-width: 225px;
}
